.form__input {
  height: 44px;
  width: 100%;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  padding: 12px;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  outline: none;
}

.form__input::placeholder {
  color: rgba(0, 0, 0, 0.48);
}
